
.home-header {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 100px;
  color: var(--text);
  padding-bottom: 50px;
}

.bike-services-container {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 20px;
  margin-bottom: 20px; 
}

.bike-services-container .left-side {
  flex: 1;
  margin-right: 10px; 
  padding-left: 10vh; 
}

.bike-services-container .right-side {
  flex: 2; 
  text-align: left;
}

.bike-services-container .right-side h2 {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 70px;
  color: var(--text);
}

.bike-services-container .right-side p {
    font-family: "Source Sans 3", sans-serif;
  font-size: 2em;
  line-height: 1.6;
  margin-bottom: 20px;
  color: var(--text);
}

.bike-services-container .right-side button {
    font-family: "Nunito", sans-serif;
  padding: 12px 25px;
  font-size: 3em;
  background-color: #F4C5A7; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.bike-services-container .right-side button:hover {
  background-color: var(--orange); 
}

.bike-supplies-container {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 20px;
  margin-bottom: 20px; 
}

.bike-supplies-container .left-side {
  flex: 1; 
  margin-right: 10px; 
  padding-left: 10vh; 
}

.bike-supplies-container .right-side {
  flex: 2; 
  text-align: left; 
}

.bike-supplies-container .right-side h2 {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 70px;
  color: var(--text);
}

.bike-supplies-container .right-side p {
    font-family: "Source Sans 3", sans-serif;
  font-size: 2em;
  line-height: 1.6;
  margin-bottom: 20px;
  color: var(--text);
}

.bike-supplies-container .right-side button {
    font-family: "Nunito", sans-serif;
  padding: 12px 25px;
  font-size: 3em;
  background-color: #F4C5A7; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.bike-supplies-container .right-side button:hover {
  background-color: var(--orange); 
}

.content-image {
  width: 50vh; 
  max-width: 100%; 
  height: auto; 
  aspect-ratio: 5 / 4; 
  object-fit: cover; 
  display: block; 
  border-radius: 4px;
}